<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head></head>
    <body>
        <h1>YATC - Yet Another Test Cluster</h1>
        <h2>Frontentds:</h2>
        <ul>
            <li><a href="/angular-material/">Angular Material</a></li>
            <li><a href="/react-mui/">React MUI</a></li>
        </ul>
        <h2>Backend APIs:</h2>
        <ul>
            <li><a href="/api/node-express/test/v1">Test Node - Express</a></li>
            <li><a href="/api/python-fastapi/test/v1">Test Python - FastApi</a></li>
            <li><a href="/api/rust-axum/test/v1">Test Rust - Axum</a></li>
            <li><b>Spring - Reactive:</b>
                <ul>
                    <li><a href="/api/spring-reactive/test/v1">Test</a></li>
                    <li><a href="/api/spring-reactive/bridge/spring-servlet/test/v1">Bridge -> Spring-Servlet</a></li>
                    <li><a href="/api/spring-reactive/bridge/rust-axum/test/v1">Bridge -> Rust-Axum</a></li>
                </ul>
            </li>
            <li><b>Spring - Servlet:</b>
                <ul>
                    <li><a href="/api/spring-servlet/test/v1">Test</a></li>
                    <li><a href="/api/spring-servlet/bridge/spring-reactive/test/v1">Bridge -> Spring-Reactive</a></li>
                    <li><a href="/api/spring-servlet/bridge/rust-axum/test/v1">Bridge -> Rust-Axum</a></li>
                </ul>
            </li>
        </ul>
        <h2>API Documentation:</h2>
        <ul>
            <li><a href="/swagger-ui/index.html">SwaggerUI</a></li>
            <li><a href="/scalar">Scalar</a></li>
        </ul>
        <h2>Actions:</h2>
        <ul>
            <li><a href="javascript:void(0)" onclick="document.getElementById('logout-form').submit()">Logout</a></li>
        </ul>
        <form th:action="@{/logout}" id="logout-form" method="post">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        </form>
    </body>
</html>
