apiVersion: apps/v1
kind: Deployment
metadata:
  name: yatc-grafana
  labels:
    app: yatc-grafana
spec:
  replicas: 1
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1
  selector:
    matchLabels:
      app: yatc-grafana
  template:
    metadata:
      labels:
        app: yatc-grafana
    spec:
      containers:
      - name: yatc-grafana
        image: grafana/grafana:12.3.1
        imagePullPolicy: IfNotPresent
        resources:
          limits:
            cpu: 500m
            memory: 512Mi
          requests:
            cpu: 100m
            memory: 100Mi
        ports:
        - containerPort: 9090
        env:
        - name: "TZ"
          value: "Europe/Rome"
        - name: "GF_SECURITY_ADMIN_USER"
          value: "admin"
        - name: "GF_SECURITY_ADMIN_PASSWORD"
          value: "grafana"
        volumeMounts:
        - name: yatc-grafana-config
          mountPath: "/etc/grafana/provisioning/datasources/datasource.yml"
          subPath: "datasource.yml"
        - name: yatc-grafana-dashboard-9628
          mountPath: "/etc/grafana/provisioning/dashboards/9628_rev8.json"
          subPath: "9628_rev8.json"
        - name: yatc-grafana-dashboard-11506
          mountPath: "/etc/grafana/provisioning/dashboards/11506_rev1.json"
          subPath: "11506_rev1.json"
        - name: yatc-grafana-dashboard-14390
          mountPath: "/etc/grafana/provisioning/dashboards/14390_rev7.json"
          subPath: "14390_rev7.json"
        - name: yatc-grafana-dashboard-14900
          mountPath: "/etc/grafana/provisioning/dashboards/14900_rev2.json"
          subPath: "14900_rev2.json"
        - name: yatc-grafana-dashboard-14997
          mountPath: "/etc/grafana/provisioning/dashboards/14997_rev3.json"
          subPath: "14997_rev3.json"
        - name: yatc-grafana-dashboard-18276
          mountPath: "/etc/grafana/provisioning/dashboards/18276_rev1.json"
          subPath: "18276_rev1.json"
        - name: yatc-grafana-dashboard-19004
          mountPath: "/etc/grafana/provisioning/dashboards/19004_rev1.json"
          subPath: "19004_rev1.json"
        - name: yatc-grafana-dashboard-23019
          mountPath: "/etc/grafana/provisioning/dashboards/23019_rev1.json"
          subPath: "23019_rev1.json"
      volumes:
      - name: yatc-grafana-config
        configMap:
          name: yatc-grafana-config
      - name: yatc-grafana-dashboard-9628
        configMap:
          name: yatc-grafana-dashboard-9628
      - name: yatc-grafana-dashboard-11506
        configMap:
          name: yatc-grafana-dashboard-11506
      - name: yatc-grafana-dashboard-14390
        configMap:
          name: yatc-grafana-dashboard-14390
      - name: yatc-grafana-dashboard-14900
        configMap:
          name: yatc-grafana-dashboard-14900
      - name: yatc-grafana-dashboard-14997
        configMap:
          name: yatc-grafana-dashboard-14997
      - name: yatc-grafana-dashboard-18276
        configMap:
          name: yatc-grafana-dashboard-18276
      - name: yatc-grafana-dashboard-19004
        configMap:
          name: yatc-grafana-dashboard-19004
      - name: yatc-grafana-dashboard-23019
        configMap:
          name: yatc-grafana-dashboard-23019
