apiVersion: apps/v1
kind: Deployment
metadata:
  name: yatc-prometheus
  labels:
    app: yatc-prometheus
spec:
  replicas: 1
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1
  selector:
    matchLabels:
      app: yatc-prometheus
  template:
    metadata:
      labels:
        app: yatc-prometheus
    spec:
      serviceAccountName: yatc-prometheus
      containers:
      - name: yatc-prometheus
        image: prom/prometheus:v3.8.1
        imagePullPolicy: IfNotPresent
        resources:
          limits:
            cpu: 500m
            memory: 512Mi
          requests:
            cpu: 100m
            memory: 100Mi
        ports:
        - containerPort: 9090
        livenessProbe:
          httpGet:
            path: /metrics
            port: 9090
          initialDelaySeconds: 10
          timeoutSeconds: 5
          periodSeconds: 5
          failureThreshold: 5
          successThreshold: 1
        readinessProbe:
          httpGet:
            path: /metrics
            port: 9090
          initialDelaySeconds: 10
          timeoutSeconds: 5
          periodSeconds: 3
          failureThreshold: 3
          successThreshold: 1
        env:
        - name: "TZ"
          value: "Europe/Rome"
        volumeMounts:
        - name: yatc-prometheus-config
          mountPath: "/etc/prometheus/prometheus.yml"
          subPath: "prometheus.yml"
#        - name: yatc-prometheus-data
#          mountPath: "/prometheus"
      volumes:
      - name: yatc-prometheus-config
        configMap:
          name: yatc-prometheus-config
#      - name: yatc-prometheus-data
#        persistentVolumeClaim:
#          claimName: yatc-prometheus-volume-claim
